.dropdown-menu {
    border: #011a7d solid  2px;
    animation: dropDown 0.5s ease-in-out forwards;
    transform-origin: top;
    overflow: hidden;
    opacity: 0;
}

.dropdown-menu-close{
    border: #011a7d solid  2px;
    animation: dropDownClose 0.5s ease-in-out forwards;
    transform-origin: top;
    overflow: hidden;
    opacity: 0;
}

@keyframes dropDown {
    0% {
        transform: scaleY(0);
        opacity: 0;
    }
    100% {
        transform: scaleY(1);
        opacity: 1;
    }
}

@keyframes dropDownClose {
    0% {
        transform: scaleY(1);
        opacity: 1;
    }
    100% {
        transform: scaleY(0);
        opacity: 0;
    }
    
}

.border-input{
    border: none;
    border: 2px solid #011a7d;
    color:black
}


input{
    outline: none;
    border: none;
    color:black
}

input:focus{
    
    outline: none;
    color:black
}